<html>
<head>
<title>Send Email</title>
<style>
    .email-form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        max-width: 500px;
        margin: auto;
    }
    button {
        grid-column: span 2;
        background-color:rgb(0, 78, 179);
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color:rgb(0, 78, 179);
    }
    </style>
</head>
<body>
    <h2>Send an Email</h2>
    <form method="post" class="email-form-container">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
    </form>
 </body>
 </html>
    